{% extends 'letters/layout/unlucky.html' %}
{% block content %}
{% load static %}
<div>
    <div class="album-wrap">
        <div class="album">
            <div class="album-title">
                <div class="album-date">19/11/2019</div>
                <div class="album-name">Love Poem</div>
            </div>
            <div class="album-info-person">
                <div><span>작사</span>아이유(IU)</div>
                <div>|</div>
                <div><span>작곡</span>제휘</div>
                <div>|</div>
                <div><span>편곡</span>제휘</div>
            </div>
            <div class="album-info">
                <div class="album-info-song">
                    <span class="text-point">unlucky</span>
                </div>
                <div class="album-info-content">
                    <div class="album-info-left">
                        <div class="album-info-lyrics">
                            <div class="line"><span id="line00">기를 쓰고 사랑해야 하는 건 아냐</span></div>
                            <div class="line"><span id="line01">하루 정도는 행복하지 않아도 괜찮아</span></div>
                            <div class="line"><span id="line02">그럼에도 역시 완벽하군 나의 여인 um</span></div>
                            <div class="line"><span id="line03" class="lucky-low">여전히 무수한 빈칸들이 있지</span></div>
                            <div class="line"><span id="line04">끝없이 헤맬 듯해</span></div>
                            <div class="line"><span id="line05" class="lucky-bottom">풀리지 않는 얄미운 숙제들 사이로</span></div>
                            <div class="line"><span id="line06">마치 하루하루가</span></div>
                            <div class="line"><span id="line07">잘 짜여진 장난 같아</span></div>
                            <div class="line"><span id="line08">달릴수록 내게서 달아나</span></div>
                            <div class="line"><span id="line09">Just life, we're still good without luck</span></div>
                            <div class="line"><span id="line10">길을 잃어도 계속 또각또각 또 가볍게 걸어</span></div>
                            <div class="line"><span id="line11">(Take your time)</span></div>
                            <div class="line"><span id="line12">There's no right 실은 모두가 울고 싶을지 몰라</span></div>
                            <div class="line"><span id="line13">슬퍼지고 싶지 않아서</span></div>
                            <div class="line"><span id="line14">화내는지도 몰라</span></div>
                            <div class="line"><span id="line15">여전히 무수한 질문들이 있지</span></div>
                            <div class="line"><span id="line16">이번에도 틀린 듯해</span></div>
                            <div class="line"><span id="line17">아주 사소한 토씨 하나의 차이로</span></div>
                            <div class="line"><span id="line18">마치 하루하루가</span></div>
                            <div class="line"><span id="line19">삐뚤은 동그라미 같아</span></div>
                            <div class="line"><span id="line20">도망쳐도 여기로 돌아와</span></div>
                            <div class="line"><span id="line21">Just life we're still good without luck</span></div>
                            <div class="line"><span id="line22">비틀거려도 계속 또박또박 똑바르게 걸어</span></div>
                            <div class="line"><span id="line23">(Take your time)</span></div>
                            <div class="line"><span id="line24">There's no right 때론 모두가 외로운지도 몰라</span></div>
                            <div class="line"><span id="line25">지워지고 싶지 않아서</span></div>
                            <div class="line"><span id="line26">악쓰는지도 몰라</span></div>
                            <div class="line"><span id="line27">(Lalalala la la i love ma days)</span></div>
                            <div class="line"><span id="line28">I know that life is sometimes so mean</span></div>
                            <div class="line"><span id="line29">(Lalalala la la i love ma days)</span></div>
                            <div class="line"><span id="line30">It is true. So I'm trying</span></div>
                            <div class="line"><span id="line31" class="lucky-middle">난 나의 보폭으로 갈게</span></div>
                            <div class="line"><span id="line32">불안해 돌아보면서도</span></div>
                            <div class="line"><span id="line33">별 큰일 없이 지나온 언제나처럼</span></div>
                            <div class="line"><span id="line34">이번에도 그래 볼게 음</span></div>
                            <div class="line"><span id="line35">Just life we're still cool without luck</span></div>
                            <div class="line"><span id="line36">길을 잃어도 계속 또각또각 또 가볍게 걸어</span></div>
                            <div class="line"><span id="line37">There's no right 실은 모두가 모르는지도 몰라</span></div>
                            <div class="line"><span id="line38">어쩌면 나름대로 더디게 느림보 같은</span></div>
                            <div class="line"><span id="line39">지금 이대로 괜찮은지도 몰라</span></div>
                        </div>
                    </div>
                    <div class="album-info-right">
                        <div class="album-info-picture">
                            <img src="{% static 'letters/album/love-poem-black.jpg' %}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vertical-gap"></div>
<div class="main-tilte">Latters</div>
<div class="card">
    <div class="card-head">
        <!-- <div class="color-circle"></div> -->
        <div class="title">
            <div class="text"><span class="lucky-middle">이런날이 있겠지.</span></div>
            <div class="battery">
                <span class="material-icons">battery_5_bar</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="content">
            새로운 회계연도가 개시될 때까지 예산안이 의결되지 못한 때에는 정부는 국회에서 예산안이 의결될 때까지 다음의 목적을 위한 경비는 전년도 예산에 준하여 집행할 수 있다. 국민경제의
            발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다. 대통령의 임기는 5년으로 하며, 중임할 수 없다. 정부는 회계연도마다 예산안을
            편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다. 국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은 법률로
            정한다. 헌법재판소의 장은 국회의 동의를 얻어 재판관중에서 대통령이 임명한다.
            새로운 회계연도가 개시될 때까지 예산안이 의결되지 못한 때에는 정부는 국회에서 예산안이 의결될 때까지 다음의 목적을 위한 경비는 전년도 예산에 준하여 집행할 수 있다. 국민경제의
            발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다. 대통령의 임기는 5년으로 하며, 중임할 수 없다. 정부는 회계연도마다 예산안을
            편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다. 국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은 법률로
            정한다. 헌법재판소의 장은 국회의 동의를 얻어 재판관중에서 대통령이 임명한다.
        </div>
        <div class="date">24/10/2024 10:37:49</div>
    </div>
    <div class="card-footer">
        <!-- 조회수가 0이상이면 보이게 -->
        <div class="like"><span>🍀</span></div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <!-- <div class="color-circle"></div> -->
        <div class="title">
            <div class="text"><span class="lucky-low">이런날이 있겠지.</span></div>
            <div class="battery">
                <span class="material-icons">battery_3_bar</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="content">
            요약 정리
        </div>
        <div class="date">24/10/2024 10:37:49</div>
    </div>
    <div class="card-footer">
        <!-- 조회수가 0이상이면 보이게 -->
        <div class="like"><span>💚</span></div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <!-- <div class="color-circle"></div> -->
        <div class="title">
            <div class="text"><span class="lucky-bottom">이런날이 있겠지.</span></div>
            <div class="battery">
                <span class="material-icons">battery_0_bar</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="content">
            새로운 회계연도가 개시될 때까지 예산안이 의결되지 못한 때에는 정부는 국회에서 예산안이 의결될 때까지 다음의 목적을 위한 경비는 전년도 예산에 준하여 집행할 수 있다. 국민경제의
            발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다. 대통령의 임기는 5년으로 하며, 중임할 수 없다. 정부는 회계연도마다 예산안을
            편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다. 국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은 법률로
            정한다. 헌법재판소의 장은 국회의 동의를 얻어 재판관중에서 대통령이 임명한다.
            새로운 회계연도가 개시될 때까지 예산안이 의결되지 못한 때에는 정부는 국회에서 예산안이 의결될 때까지 다음의 목적을 위한 경비는 전년도 예산에 준하여 집행할 수 있다. 국민경제의
            발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다. 대통령의 임기는 5년으로 하며, 중임할 수 없다. 정부는 회계연도마다 예산안을
            편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다. 국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은 법률로
            정한다. 헌법재판소의 장은 국회의 동의를 얻어 재판관중에서 대통령이 임명한다.
        </div>
        <div class="date">24/10/2024 10:37:49</div>
    </div>
    <div class="card-footer">
        <!-- 조회수가 0이상이면 보이게 -->
        <div class="like" style="visibility: hidden;"><span>💚</span></div>
    </div>
</div>
{% endblock %}